<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.luzhuo.lib_common_ui" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest>
